@page "/newrealty"

@using WSEA.Data
@using WSEA.Data.WSEA

@inherits OwningComponentBase<WSEAService>

@rendermode InteractiveServer


<AuthorizeView>
	<Authorized>
		<div class="row">
            <!-- Информация об объекте -->
            <div class="w-50 mx-auto mb-5 text-center">
                <div class="card">
                    <div class="card-header">
                        Добавление нового объекта
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Загрузка изображений</h5>
                        <InputFile multiple OnChange="@LoadFiles" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Информация об объекте</h5>
                        <InputText @bind-Value="@nRealty.City" class="form-control w-50 mb-2 mx-auto" placeholder="Город"/>
                        <InputText @bind-Value="@nRealty.District" class="form-control w-50 mb-2 mx-auto" placeholder="Район" />
                        <InputText @bind-Value="@nRealty.Street" class="form-control w-50 mb-2 mx-auto" placeholder="Улица" />
                        <InputText @bind-Value="@nRealty.House" class="form-control w-50 mb-2 mx-auto" placeholder="Дом" />
                        <InputText @bind-Value="@nRealty.ApartmentNumber" class="form-control w-50 mb-2 mx-auto" placeholder="Номер квартиры" />
                        <InputNumber @bind-Value="@nRealty.SquareObject" class="form-control w-50 mb-2 mx-auto" placeholder="Площадь объекта" />
                        <InputNumber @bind-Value="@nRealty.SquareArea" class="form-control w-50 mb-2 mx-auto" placeholder="Площадь прилегающей территории" />
                        <InputText @bind-Value="@nRealty.Material" class="form-control w-50 mb-2 mx-auto" placeholder="Материал" />
                        <InputNumber @bind-Value="@nRealty.RoomCount" class="form-control w-50 mb-2 mx-auto" placeholder="Количество комнат" />
                        <InputText @bind-Value="@nRealty.Floor" class="form-control w-50 mb-2 mx-auto" placeholder="Количество этажей" />
                        <InputNumber @bind-Value="@nRealty.Cost" class="form-control w-50 mb-2 mx-auto" placeholder="Цена" />
                        <InputNumber @bind-Value="@nRealty.YearOfCommissioning" class="form-control w-50 mb-2 mx-auto" placeholder="Год ввода в эксплуатацию" />
                        <p><InputCheckbox @bind-Value="@nRealty.BuildDone" class="mb-2 m-2" />Строительство завершено</p>
                        <p><InputCheckbox @bind-Value="@nRealty.Rent" class="mb-2 m-2" />Сдается в аренду</p>
                        <InputText @bind-Value="@nRealty.CadastralNumber" class="form-control w-50 mb-2 mx-auto" placeholder="Кадастровый номер" />
                        <InputTextArea @bind-Value="@nRealty.Description" class="form-control w-50 mb-2 mx-auto" placeholder="Описание" />
                    </div>
                    <button class="btn btn-primary w-50 mx-auto mb-3" @onclick="@SaveRealty">Сохранить</button>
                </div>
            </div>
        </div>
	</Authorized>
	<NotAuthorized>
		Вы не можете просмотреть эту страницу!
	</NotAuthorized>
</AuthorizeView>

@code {
    private Realty nRealty = new Realty();
    private List<IBrowserFile> loadedFiles = new();
    private int maxAllowedFiles = 5;

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
            loadedFiles.Add(file);
    }


    private async void SaveRealty()
    {
        // Добавляем новый объект
        nRealty.RealtyTypeId = 1;
        var addNewRealtyResult = Service.CreateRealtyAsync(nRealty);

        // Добавляем фото
        foreach (var file in loadedFiles)
        {
            var path = "wwwroot\\images\\" + file.Name;
            var savePath = "images/" + file.Name;


            var ms = new MemoryStream();
            await file.OpenReadStream().CopyToAsync(ms);
            using (FileStream newFile = new FileStream(path, FileMode.Create, FileAccess.Write))
            {
                ms.WriteTo(newFile);
            }

            RealtyImage nImage = new RealtyImage
                {
                    IdRealty = addNewRealtyResult.Result.IdRealty,
                    ImagePath = savePath,
                };
            var addNewPhotoResult = Service.CreateRealtyImage(nImage);
        }
    }
}
